@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p style="color: white">For vores officielle Facebook side <a href="https://www.facebook.com/profile.php?id=100023827401656 " target="_blank">klik her</a>.</p>
</div>
