@page
@model AutoMaegler.Pages.Order.OrderModel
@{
}

<h1> Orders </h1>

<div class="row">
    <div class="col-4"><h5> Led Efter Navn </h5></div>
    <div class="col-4"><h5> Filter Priser </h5></div>
    <div class="col-4"></div>
</div>

<div class="row">

</div>