@using AutoMaegler.Pages.LogIn
<!DOCTYPE html>
<html lang="en">
<head style="background-color: darkblue">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoMaegler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoMaegler.styles.css" asp-append-version="true" />
</head>
<body style="background-color: mediumblue;">
    <header style="background-color: darkblue">
        <nav style="background-color: midnightblue" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <img style="height:80px; padding:10px;" src="https://www.autom.dk/img/logo.png" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Admin/CreateUser">Create User</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="navbar-nav">
                @{
                    if (LogInPageModel.LoggedInCustomer == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/LogIn/LogInPage">Login</a>
                        </li>
                    }
                    else if (LogInPageModel.LoggedInEmployee == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/LogIn/LogInPage">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item nav-link text-dark me-3">
                            User: @LogInPageModel.LoggedInCustomer.Email
                            User: @LogInPageModel.LoggedInEmployee.Email
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/LogIn/LogOutPage">Logout</a>
                        </li>
                    }
                }
            </ul>
        </nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: midnightblue" class="border-top footer text-muted">
        <div class="container">
            <h4 style="color: white">Åbningstider</h4>
            <p style="color: white">Man-Fre    <span style="display:inline-block">09:00-17:30</span></p>
            <p style="color: white">Lørdag     <span>Kun efter aftale</span></p>
            <p style="color: white">Lørdag     <span>Kun efter aftale</span></p>
        </div>
        <div class="container">
            &copy; 2025 - AutoMaegler - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>